body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: lighter;
    font-size: 64px;
    padding: 50px
    
}

.link {
    font-size: larger;
}

#mushroom {
    height: auto;
    width: 200px;
    padding: 75px;
    opacity: .8;
    
    
}